.single-stat {
   display: flex;
   gap: 20px;
   align-items: center;

   @include media-breakpoint-up(lg) {
      padding-left: 40px;
   }

   @include media-breakpoint-down(lg) {
      margin-bottom: 60px;
   }

   @extend .overly;

   &:before {
      width: 1px;
      height: 60px;
      position: absolute;
      background: rgba(var(--white-rgb), 0.2);
      top: 50%;
      @include position('vertical');

      @include media-breakpoint-down(lg) {
         display: none;
      }
   }



   h3 {
      margin-bottom: 0;
   }

   p {
      margin-bottom: 0;
      color: var(--mute);
   }
}

.stat-sec {
   padding: 80px 0;

   .row>div:nth-child(1) .single-stat {
      padding-left: 0;

      &::before {
         display: none;
      }
   }
}

.stat-sec3 {
   .stat-entries {
      padding: 50px 60px 40px;
      max-width: 550px;
      margin-left: auto;
      margin-right: 0;

      h3 {
         margin: 0;
         line-height: 1.2;
      }

      .s-item {
         flex: 0 0 50%;

         &:nth-child(even) {
            text-align: right;
         }
      }

      @include media-breakpoint-down(sm) {
         padding: 50px 35px 40px;

         .s-item {
            &:last-child{
               flex: 0 0 100%;
               text-align: center;
            }
            h3 {
            font-size: 45px;
         }
         }
      }
   }
}